@media (max-width:1500px) {
    .y-content {
        width: 187px;
    }
    
    
}
@media (max-width:1468px) {
    .y-search input {
        width: 469px;
    }
    .y-content h5 {
        font-size: 15px;
        font-weight: 500;
    }
    .section-left span {
        font-size: 19px;
        width: 33px;
    }
    .menus{
        display: none;
    }
    .col-xl-10 {
        width: 99%;
    }

}
@media (max-width:1300px) {
    .y-content h5 {
        font-size: 13px;
    }
    .y-content h6 {
        font-size: 11px;
    }
    .y-content span {
        font-size: 12px;
    }
    .fab_48 p {
        font-size: 12px;
    }
    .px-3 {
        font-size: 12px;
    }
    .section-part {
        padding: 0;
    }
    .col-lg-10 {
 
        width: 100%;
    }
}
@media (max-width:1164px) {
    .y-search input {
        width: 320px;
    }
    .y-content h6 {
        margin-bottom: 0px;
    }
}
@media (max-width:910px) {
    .header-right span {
        font-size: 20px;
        padding: 0 5px;
    }
}
@media (max-width:867px) {
    .y-search input {
        width: 215px;
    }
}
@media (max-width:830px) {
    .fab_48 span {
        font-size: 17px;
    }
    .header-left span {
        margin-right: 0px;
    }
    
}
@media (max-width:768px) {
    .y-search input {
        display: none;
    }
    .y-search span {
        background: transparent;
        padding: 0;
        margin-left: 0;
        border-radius: 0;
    }
    .y-search a {
        color: #bbb5b5;
        font-size: 20px;
        float: right;
    }
    .ul-list ul li {
        margin-right: 2px;
        padding: 5px 0px;
    }
    
}
@media (max-width:575px) {
    .youtuber {
        margin-left:14%;
    }
    
    .box {
        text-align: center;
    }
}
@media (max-width:500px) {
    .header-right span {
        font-size: 15px;
    }
    .fab_48 img {
        width: 20px;
    }
    
}
@media (max-width:445px) {
    .youtuber {
        margin-left: 6%;
    }
    
}

